{% extends 'base.html' %}
{% block content %}
    <br> 
    <h3> Streetsmart in Valencia </h3>
    <br>
    <h4 class="text-primary"> A coastal city on the Mediterranean coast of Spain, Valencia is known for its historical buildings and Jard&iacute;n del Turia, a garden in a river bed! I discovered something more: well-designed pedestrian crossings that make walking around the city a pleasure.</p>    
    </h4>
    <p>By Aditya Kelekar</p>

        
        <ul>
            
<p>It is the beginning of September. I have been on a rail trip through continental Europe where much of the day temperatures have been in mid-thirties. My final destination is Valencia on the east coast of Spain. As I get off the metro, the warm, humid climate reminds me at once of my hometown Panaji Goa. I am looking forward to splashing in the sea-waters!&#160;</p>

<p><b> Metro-tram maze</b></p>

<p>The city has an extensive network of zero exhaust public transport:
    {% load static %}
        <img src="{% static 'res04_beachmanis.jpg' %}" alt="My image" width="300" height="200" style="float: right; margin: 15px 0px 15px 20px;" >
     a metro that runs through most residential areas and an electric tram that supplements the metro. There are bus routes too, but the metro-tram coverage is so extensive that during my four day journey, I could rely almost completely on trams and metro.</p>



<p>It is this facet of Spain&rsquo;s urban life that fascinates me: reliance on public utilities that not only added convenience to travel but also cut down on automobile exhaust. I was also charmed by the design of pedestrian sidewalks. Wherever a footpath or a bicycle lane intersected with a vehicular road, it gently sloped so you didn&rsquo;t have to worry much about tripping over.&#160;&#160;</p>

<p>After a day of city exploring, I head to the beach, to play volleyball. It was easy to make friends on the beach and find other players to play with. (At the time of my visit in 2021 it was possible for anyone to book a court for free via https://www.valenciabeachbol.com/)</p>

<p><b>Stop, ready and go</b></p>

<p>Later, I walked back the path from the beach to my hostel. Most of the pedestrian crossings had traffic signals that allowed passage either for vehicles or for pedestrians. Walking across the road seemed as care-free as it had been on the beach that I had just left.&#160;&#160;</p>

<p>As I walked further away from the beach, the pedestrian traffic thinned, and some crossings were no longer accompanied by traffic lights. I would check for speeding vehicles before attempting to walk across the road. But vehicles came to a halt when they spotted me!&#160; Besides, crossings were preceded with gentle speed bumps, slowing down cars and buses.</p>

<p><b>Neat and shiny</b></p>

<p>City center, beach, metro stations &#8230; wherever I walked I found very little trash, and what little was there was swiftly carried away by members of the cleaning squad. </p>
    
<img src="{% static 'resized01_cleaner.jpg' %}" alt="My image" width="200" height="300" style="float: left; margin: 0px 15px 0px 20px;" >
    
<p> Upon making enquiries, I found out that a single person was responsible for an area and had different tools for cleaning. I noticed a sense of pride in the cleaning staff in getting the job done in a proper way.&#160;</p>

<p>On requesting, a city worker in Valencia cheerfully agreed to pose for the camera during her busy work day.</p>

<p>Wandering around Valencia, I wondered why the waste containers seemed so clean themselves, until I chanced to see a bin &ldquo;bath&rdquo;. A van in front of me slowed down and come to a stop just behind the place where the bins were situated. From the vehicle&rsquo;s storage came out some tools and a long pipe. At first I thought the person was taking out a lot of trash for dumping in the bins. Only after a moment did I realize what was happening - water from a pressurized tank was being used to clean the sides of the trash cans. At the end of it, you couldn&rsquo;t tell the bins from their smell!</p>
<br> 
<br>
<br> 
<br>  
<table>
    <tr>
    <td style='text-align:center;'>
        <img src="{% static 'resized03_meanibeach.jpg' %}" alt="Aba" style='zoom:60%;' class='imgcenter'>            
    </td>
</table>
{% endblock %}